$maxWidth: 1440;
@mixin adaptiv-font($pcSize, $mobSize) {
  $addSize: $pcSize - $mobSize;
  $maxWidth: $maxWidth - 320;
  font-size: calc(#{$mobSize + px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.blog-img-left__title{
  @include adaptiv-font(30,16);
}
.blog-img-left__text{
  @include adaptiv-font(20,14);
}