
/*большой пк*/
@media (max-width: 1315px) {
    .popular-dishes-images__row{
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .footer{
        padding: calc(10px + (25 - 10) * ((100vw - 1162px)/(1440 - 320))) 0px ;
    }
}
@media (max-width: 1298px){
    .container{
        max-width: 1100px;
    }
    .menu__row {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .menu-left {
        max-width: 100%;
        margin: 0px 25px 0px 25px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .menu-left__body {
        margin: 0px 0px 30px 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .welcome__btn{
        padding: 20px 0px 20px;
    }

    .offers-image__row {
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .offers-image-left__row{
        width: 665px;
        align-items: center;
    }
    .offers-image-left{margin: 0px 0px 20px 0px;}
    .offers-image-right{margin: 20px 0px 0px 0px;}

    .subscribe-bottom__btn input{
        padding: 21px calc(25px + (40 - 25) * ((100vw - 1162px)/(1440 - 1162)));
        
    }

    .subscribe-bottom__email input{
        width: calc(360px + (456 - 360) * ((100vw - 1162px)/(1440 - 1162)));
        height: 68px;

    }
    .subscribe-text{
        font-size: calc(15px + (20 - 15) * ((100vw - 1162px)/(1440 - 1162)));;
    }
    .subscribe-text a{
        font-size:  calc(15px + (20 - 15) * ((100vw - 1162px)/(1440 - 1162)));
    }
}
/*notebook*/
@media (max-width: 1168.1px) {
    .container{
        max-width: 990px;
    }
    .welcome__btn{
        margin: 35px 0px 30px 20px;
        background-color: #292E36;
        color: #E1B168;
        max-width: 35%;
        line-height: 1.50625em;
    }
    .circle {
        flex-direction: column;
    }
    .text{
        /*padding: 0px 15px 0px 0px;*/
    }
    .story__row{
        flex-direction: column;
    }
    .story__text{
        font-size: 16px;
    }

    .clients-bottom-row1-row1__title {
        font-size: 22px;
        line-height: 24px;
    }

    .clients-bottom-row1-row1__text {
        font-size: 14px;
    }
    .popular-dishes-images__image{
    }
    .great-services-img__columns{
    }
    .great-services-img__row{
        justify-content: space-between;
    }
    .great-services__row{
        flex-direction: column;
    }
    .great-services__body{
        text-align: center;
        margin: 0px 0px 20px 0px;
    }
}
/*плагшет*/
/*-------------------------------------------------------------------------*/
@media (max-width: 991.9px) {
    .container{
        max-width: 800px;
        padding: 0px 20px ;
    }
    .welcome__row{
        flex-direction: column;
        text-align: center;
    }
    .welcome__body{
        display: flex;
        flex-direction: column;
        align-items: center;
        order: 2;
        margin: 40px 0px 0px 15px;
    }
    .welcome__image{
        margin: 0px 4% 0px 4%;
    }
   .welcome-bottom__circle-image{
       padding: 0px 0px 0px 30px;
   }
   .welcome__btn{
       align-items: center;
       
       justify-content: center;
   }
   .welcome__title{
       font-size: 437.5%;
       line-height: 70px;
   }
   .welcome-bottom__circle-text{
       font-size: 13px;
       padding: 0px 0px 0px 0px;
       line-height: 15px;
   }
   .story__img{
       flex: 0 0 100%;
   }
   .story__img img{
       height: 100%;
       width: 100%;
   }  
    .story__body-2 {
        margin: 0px 0px 0px 0px;
    }
    .story__body-3 {
        margin: 0px 0px 0px 0px;
    }
    .menu-left{
        margin: 0px 0px 0px 0px;
    }
    .menu-right-body1__text1 span{
        width: 130px;
    }
    .menu-right-body1__text2 span{
        width: 146px;
    }
    .menu-right-body1__text3 span{
        width: 152px;
    }
    .menu-right-body1__text4 span{
        width: 190px;
    }
    .menu-right-body2__text1 span{
        width: 140px;
    }
    .menu-right-body2__text2 span{
        width: 195px;
    }

    .menu-right-body2__text3 span{
        width: 150px;
    }

    .menu-right-body2__text4 span{
        width: 110px;
    }
    .menu-right-body3__text1 span{
        width: 165px;
    }
    .menu-right-body3__text2 span{
        width: 210px;
    }
    .clients-bottom{
        flex-direction: column;
        align-items: center;    
    }
    .clients-bottom-row{
        margin: 20px 0;
        width: 70%;
    }
    .subscribe{
        display: none;
    }
}
/*phone*//*-------------------------------------------------------------------------*/
@media (max-width: 767.9px) {
    .header__btn{
        font-size: 12px;
    }
    .welcome__image{
        margin: 0px 12% 0px 8%;
    }
    .container{
        max-width: none;
    }
    .text{
        font-size: 16px;
    }
    .header__btn{
        padding: 20px 0px 20px 0px;
    }
    .great-services-img__columns{
        height: 200px;
    }
    .blog-img__row{
        flex-direction: column;
        
    }
    .blog-img-left__row{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px ;
    }
    .blog{
        padding: 70px 0;
    }
    .blog-img-right{
        margin: 0px 0px 0px 0px;
    }
    .blog-img-left{
        margin: 0px 0px 0px 0px;
    }
    .adaptive{
        width: 100%;
    }
    .subscribe-text{
        font-size:calc(6px + (14 - 10) * ((100vw - 320px)/(762 - 320)));
        line-height: 0;
    }
    .footer__item1 a{
        font-size:calc(6px + (14 - 10) * ((100vw - 320px)/(762 - 320)));
        line-height: 0;
    }
}
/*-------------------------------------------------------------------------*/
@media (max-width: 715.9px) {
   
    .welcome__body{
        
    }
    .welcome__image img{
        height: 100%;
        width: 100%;
    }
    .welcome__image{
        /*margin: 0px 0% 0px 8%;*/
        
    }
    .header__btn{
        font-size: 12px;
        
    }
    .btn{
        height: 20px;
        padding: 20px 5px 20px 5px;
    }
    .header-bottom__image{
        display: none;
    }
    .header-bottom__text{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .header__logo{
        background: url("../img/adaptive/xsmall.svg") no-repeat;
        flex: 0 0 158px;
        height: 90px;
    }
    .header-bottom{
        /*position: fixed;*/
        /*top: 0;*/
        /*background-color: #292E36   ;*/
        /*z-index: 4;*/
        /*width: 100%;*/
        /*border-bottom: 1px solid #5C6168;*/
    }
    .header{
        border-bottom: 1px solid #5C6168;
    }
    .content{
        /*padding: 50px 0px;*/
    }
    .story__text{
        font-size: 13px;
    }
    .clients__row{
        padding: 40px 0px ;
    }
    .offers-image-left__row{
        padding: 0px 10px ;
    }
    .offers-image-left__body{
        padding: 0px 0px 0px 0px;
    }
    .great-services{
        padding: 70px 0;
    }
    .great-services-img__columns{
        height: 180px;
    }
    .great-services-img__img{
        margin-bottom: 7px;
    }
}


/*small-phone_________________________________________________________________*/
@media (max-width: 571.9px){
    .content{
        padding: 0px 0px 0px 0px;
    }
    body.lock{
        overflow: hidden;
    }
    .header-bottom__text{
        display: block;
        
    }
    .header-bottom__link{
        margin: 20px 0px 0px 55%;
    }
    .header-bottom{
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        right: 0;
        height: 100%;
        background-color: #292E36;
        justify-content: center;
        align-items: center;
        -webkit-transition:  all 0.5s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
        overflow: hidden;
    }    
    .header-bottom.active{
        left: -50%;
    }
    .header__logo{
        display: none;
    }
    
    .header__logo1{
        display: flex;
        background: url("../img/adaptive/phone__logo.svg") no-repeat;
        flex: 0 0 198px;
        height: 90px;
        order: 1;
       
    }
    .header__btn1{
        width: 100%;
        margin: 10px 0px ;
    }
    .header__body{
        align-items: flex-end;
        flex-direction: column;
        padding: 0px 0px 0px 0px;
        align-self: flex-end;
        order: 2;
    }
    .header__btn{
        order: 2;
        margin: 10px 0px;
    }
    .header__row{
        display: flex;
        /*align-items: center;*/
        justify-content: space-between;
        align-items: center;
    }
    
    .header__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 20px;
        top: 10px;
        left: 10px;
        z-index: 52;
    }
    .header__burger.active:before{
        transform: rotate(45deg);
        top: 9px;
    }
    .header__burger.active:after{
        transform: rotate(-45deg);
        bottom: 9px;
    }
    .header__burger.active span{
        transform: scale(0);
    }
    .header__burger:before,
    .header__burger:after{
        content: "";
        background-color: #fff;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
    }
    .header__burger span{
        position: absolute;
        background-color: #fff;
        left: 0;
        width: 100%;
        top: 9px;
        height: 2px;
        transition:all 0.4s ease 0s;    
    }
    
    .header__burger:before{
        top: 0;
        transition:all 0.4s ease 0s;
    }
    .header__burger:after{
        bottom: 0;
        transition:all 0.4s ease 0s;
    }
    /*--------------------------------------------*/
    .header-bottom__row{
        display: flex;
        flex-direction: column;
    }
    .header-bottom__text {
        padding: 16px 0px;
        margin: 0px 10px 0px 10px;
    }

    .header-bottom__link {
        display: flex;
        font-family: 'Josefin Sans',sans-serif;
        font-weight: 400;
        gap: 15px;
        flex-direction: column;

    }
    .header-bottom__link a{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 0.2px;
        color: #fff;
    }
    .welcome-bottom__body {
        flex-direction: column;
        align-items: flex-start;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .welcome-bottom__circle-image img{
        height: 80px;
    }
    .welcome-bottom__circle-image{
        width: 80px;
        height: 80px;
        
    }
    .welcome-bottom__circle-text{
        font-size: 14px;
    }
    .welcome-bottom__circle-title{
        font-size: 90.5%;
        line-height: 30px;
    }
    .circle{
        flex-direction: row;
        margin: 10px 0px ;
    }
    .welcome-bottom__circle-body{
        margin: 0px 0px 0px 40px;
    }
    .story{
        padding: 0px 0px 0px 0px;
    }
    .story__body-2{
        margin: 0px 0px 0px 0px;
    }   
    .story__body-2{
        margin: 0px 0px 0px 0px;
    }
    .story__title {
        font-size: 35px;
        line-height: 56px;
    }

    .story__text {
        font-size: 13px;
    }
    .story__body-row{
        flex-direction: column-reverse;
        justify-content: center;
        padding: 0px 0px 0px 0px;   
    }
    .menu__row{
        margin: 50px 0px;
    }
    .clients-bottom{
        margin: 0px 0px 0px 0px;
    }
    .clients-bottom-row1-row1__img img{
        height: 75px;
        width: 74px;
    }
    .clients-bottom-row1-row1__text{
        font-size: 12px;
        line-height: 20px;
    }
    .clients-bottom-row1-row1__title{
        font-size: 20px;
        line-height: 25px;
    }
    .offers-image-left__img img{
        width: 55%;
    }
   .offers{
       
       margin: 0px 0px 0px 0px;
   }
   
   .offers-image-left__1text{
       
   }
   .offers-image-left__title{
       
   }
   .offers-image-left__text{
       font-size: 13px;
   }
   .offers-image-right{
       margin: 0px 0px 0px 0px;
   }
   .offers-image-left__body{
       position: relative;
       left: 13%;
   }
   .offers-image-left__img{
       position: relative;
       left: 10%;
   }
    .popular-dishes__btn{
        margin: 40px 0px 0px 0px;
    }
    .great-services-img__columns{
        height: 235px;
        margin-bottom: 15px;
    }
    .great-services-img__row{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .blog-img-left__1text {
        margin: 7px 0px ;

    }
    .reservation-form__row1{
        flex-direction: column;
        align-items: center;
            
    }
    
    .row1 input{
        height: calc(12px + (40 - 12) * ((100vw - 320px)/(571 - 320)));
        margin: 0px 0px 0px 0px;
        width: calc(130px + (180 - 130) * ((100vw - 320px)/(571 - 320)));
    }
    .forms input{
        height: calc(12px + (40 - 12) * ((100vw - 320px)/(571 - 320)));
        margin: 0px 0px 0px 0px;
        width: calc(130px + (180 - 130) * ((100vw - 320px)/(571 - 320)));
    }
    .reservation-form input{
        font-size:calc(10px + (14 - 10) * ((100vw - 320px)/(571 - 320)));
    }
    .forms{
        margin: 0px 0px 0px 0px;
    }
    .reservation-form__row2{
        flex-direction: column;
        align-items: center;
    }
    .reservation__row{
        /*height: 100%;*/
    }
    .reservation-form__timing{
        display: none;
    }
    .reservation-form__date {
        display: none;
    }
    .footer__body{
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }
}

@media(max-width: 441px){
    .offers-image-left__body{
        position: relative;
        left: 16%;
    }
    .offers-image-left__img{
        position: relative;
        left: 10%;
    }

    .blog-img-left__body {
        padding: 15px 50px ;
        border: 1px solid #C4C4C4;
    }
    .blog-img-left__title{
        margin: 13px 0px ;
    }
}
@media(max-width: 376px){
    .offers-image-left__body{
        position: relative;
        left: 23%;
    }
    .offers-image-left__img{
        position: relative;
        left: 4%;
    }
   
}
/*-------------------------------------------------------------------------*/
@media (max-width: 374.9px) {
    .welcome__btn{
        font-size: 10px;
    }
    .welcome-bottom__body{
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: nowrap;
    }
    .header__logo {
        background: url("../img/adaptive/phone__logo.svg") no-repeat;
        flex: 0 0 90px;
        width: 198px;
        order: 1;
    }
    .circle{
        margin:20px 0px 20px 0px;
    }
    .header__btn {
        order: 2;
        font-size: 6px;
        letter-spacing: 0.3px;
        margin: 0px 5px 0px 5px;
    }
    .welcome__body{
        margin: 0px 0px 0px 0px;
    }
    .btn {
        height: 20px;
        padding: 15px 8px 15px 8px;
    }
    .circle{
        display: flex;
        flex-direction: row;
    }
    .story__title {
        font-size: 30px;
        line-height: 40px;
    }
    .story__body-row{
        padding: 0px 0px 0px 0px;
    }
    .offers-image-left__body{
        position: relative;
        left: 24%;
    }
    .blog-img-left__title{
        line-height: 28px;
    }
   .blog-img-left__text{
       line-height: 24px;
   }
    .reservation img{
        height: 120%;
    }
}