*{scroll-behavior:smooth;padding:0;margin:0;border:0;}*,*:before,*:after{-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;}:focus,:active{outline:none;}a:focus,a:active{outline:none;}nav,footer,header,aside{display:block;}html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}input,button,textarea{font-family:inherit;}input::-ms-clear{display:none;}button{cursor:pointer;}button::-moz-focus-inner{padding:0;border:0;}a,a:visited{text-decoration:none;}a:hover{text-decoration:none;}ul li{list-style:none;}img{vertical-align:top;}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:inherit;}


/*font-family: 'Cormorant Infant', serif;
font-family: 'Josefin Sans', sans-serif;*/
.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.content {
    flex: 1 1 auto;
}
.scroll__btn{
    position: fixed;
    z-index: 10;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 85%;
    top: 80%;
    background-color: white;
    opacity: 0;
    transition: all .3s ease-in-out;
    cursor: pointer;
    
}
.header {
    background-color: #292E36;
}

.container {
    max-width: 1298px;
    margin: 0 auto;
}
.header__row {
}

.header__body {
    display: flex;
    padding: 30px 0px 30px 0px;
    align-items: center;
    justify-content: space-between; 
}

.header__btn {
    order: 1;
    font-size: 1em;
    margin: 0px 20px 0px 20px;
    color: #FFFFFF;
    

}
.header__btn a{
    color: #fff;
}
.btn{
    border: 1px solid #E1B168;
    display: inline-flex; 
    align-items: center;
    justify-content: center;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    line-height: 2.0625em;
    height: 20px;
    padding: 20px 15px 20px 15px;
    letter-spacing: 0.0125em;
    color: #E1B168;
    width: auto;
}
.header__burger{
    display: none;
}
.header__btn1 {
    order: 3;
    font-size: 0.875em;
    letter-spacing: 0.44px;
    color: #292E36;
    background-color: #deb87d;
    margin: 0px 20px 0px 20px;
    padding: 20px 27px 20px 27px;
}

.header__btn1 a{
    color: #292E36;
}

.header__logo {
    order: 2;
    background: url("../img/IMAGE.svg")no-repeat;
    flex: 0 0 348px;
    height: 108px;
}
.header__logo img{
    min-width: 100%;
}
.header-bottom {
    border-top:1px solid #5C6168 ;
}
.header-bottom__row{
    display: flex;
}
.header-bottom__text {
    padding: 16px 0px;
    margin: 0px 20px 0px 20px;
    flex: 1 1 auto;
}

.header-bottom__link {
    display: flex;
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    gap: 30px;
   
}
.header-bottom__link a{
    font-size: 13px;
    line-height: 30px;
    letter-spacing: 0.2px;
    color: #fff;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.header-bottom__link a:hover{
    color: rgba(236, 131, 92, 0.58);
}

.header-bottom__list a:first-child{
    color: #E1B168;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.header-bottom__list a:hover:first-child{
    font-size: 16px;
}
.header-bottom__image-img1{
    margin: 0px 10px 0px 10px;
}
.header-bottom__image-img2{
    margin: 0px 10px 0px 10px;
    
}
.header-bottom__image-img3{
    margin: 0px 10px 0px 10px;
    
}
.header-bottom__image-img4{
    margin: 0px 10px 0px 10px;
    animation-timing-function: ease;
    animation-duration: 2.3s;
    animation-iteration-count: infinite;
    animation-name:  ;
}
.header-bottom__image{
    display: flex;
    align-items: center;
    margin: 0px 0px 0px 20px;
    justify-content: flex-end;
    
}
.header-bottom__image img{
    
}
@keyframes bounce-4 {
    0%   { transform: scale(1,1)    translateY(0); }
    10%  { transform: scale(1.1,.9) translateY(0); }
    /*20%   { transform: scale(1,1)    translateY(0); }*/
    30%  { transform: scale(.9,1.1) translateY(-100px); }
    50%  { transform: scale(1,1)    translateY(0); }
    100% { transform: scale(1,1)    translateY(0); }
}
/*--------------------==---------------------------------------------------------------*/
.main{
   
}

.welcome {
    background-color: #292E36;
    display: flex;
    flex-direction: column;
}

.welcome__row {
    display: flex;
}

.welcome__body {
    margin: 200px 0px 0px 0px;
}
.welcome__image img{
    min-width: 100%;
}
.welcome__title {
    font-family: 'Cormorant Infant', serif;
    font-weight: 400;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}


.text {
    font-family: 'Josefin Sans',sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 0.2px;
    padding: 0px 0px 0px 0px;
    color: #555555;
}



.welcome__text {
    margin: 26px 0px 0px 0px;
    color: #fff;
    transform: translate(0,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.welcome__text._active{
    transform: translate(0,0%);
    opacity: 1;
}

.welcome__btn{
    margin: 35px 0px 0px 20px;
    background-color: #292E36;
    max-width: 25%;
}
.welcome__btn a{
    color: #E1B168;
}
.welcome-bottom {
    /*display: flex;*/
    background-color: #FFF8F5;

}
.welcome-bottom__body {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 104px 0px 100px 0px;
}
.title {
    font-family: 'Cormorant Infant' ,serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    letter-spacing: 0.2px;
    color: #292E36;
}
.welcome-bottom__circle-body{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 20px;
    transform: translate(0,50%);
    opacity: 0;
    transition: all 0.3s ease 0s;
}
.welcome-bottom__circle-body._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.welcome-bottom__circle-image{
    padding: 0px 0px 0px 20px;
    transform: scale(0);
    transition: all 0.6s  cubic-bezier(0.68,-0.55,0.265,1.55) 0s;
}
.welcome-bottom__circle-image._active{
    transform: scale(1);
}
.circle{
    display: flex;
}

.story {
    background-color: #FFF8F5;
    padding: 135px 0px;
}

.story__row {
    display: flex;
}

.story__img {
    flex: 0 0 743px;
}
.story__img img{
    min-width: 100%;
}

.story__body {
    margin: 0px 13px 0px 45px;
}
.story__body-row{
    margin: 25px 0px 0px 0px;
    display: flex;
}
.story__body-1 {
    
}

.story__title {
    font-size: 40px;
    line-height: 56px;
    transform: translate(0,120%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
    
}
.item__animated-text{
    transform: translate(0,120%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.item__animated-text._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
.item__animated-title{
    transform: translate(0,120%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.item__animated-title._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.6s ease 0s;
}
.story__title._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.6s ease 0s;
}

.story__text {
    transform: translate(0,120%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
    
}
.story__text._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.8s ease 0s;
}
/*.story__text {*/
/*    font-size: 13px;*/
/*}*/

.story__body-2 {
    margin: 0px 25px 0px 0px;
}

.story__title-bottom {
    margin: 20px 0px 0px 0px;
}
.story__title-bottom{
    margin: 20px 0px 0px 0px;
}
.story__body-3 {
    margin: 0px 0px 0px 25px;
}


.menu {
}

.menu__row {
    display: flex;
    margin: 140px 0px 0px 0px;
}
.text1{
    text-transform: uppercase;
    border-bottom: 1px solid #E1B168;
    border-top: 1px solid #E1B168;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 12px 0px;
    height: auto;
    width: auto;
    padding: 3px 0px 0px 0px;
    font-size: 15px;
}
.menu__1text{
    /*width: 60px;*/
}

.menu-left {
    max-width: 35%;
    margin: 0px 25px 0px 0px;
}

.menu-left__body {
    margin: 0px 0px 30px 0px;
    transform: translate(0,120%);
    opacity: 0;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
    
}
.menu-left__body._active{
    transform: translate(0,0%);
    opacity: 1;
    transition: all 0.5s ease 0s;
}

.menu-left__title {
}

.menu-left__text {
}

.menu-left__img {
    display: flex;
    flex: 0 0 398px;
}
.menu-left__img{
    min-width: 398px;
}

.menu-left__btn {
    margin: 30px 0px 0px 0px;
}

.menu-right {
    margin: 45px 0px 0px 25px;
}

.menu-right__row {
}

.menu-right-body1 {
}

.menu-right-body1__title {
}

.menu-right-body1__row1 {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    transform: translate(-120%,0);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55)0s;
    opacity: 0;
}
.menu-right-body1__row1._active{
    opacity: 1;
    transform: translate(0,0);
}
.menu-right-body1__image img{
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}

.menu-right-body1__image img:hover {
    transform: scale(120%);
    cursor:pointer;
}

.menu-right-body1__body {
    margin: 0px 0px 0px 20px;
}

.menu-right-body1__text1 span {
    height: 1px;
    width: 240px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right-body1__row2 {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    transform: translate(-120%,0);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55)0.15s;
    opacity: 0;
}
.menu-right-body1__row2._active{
    transform: translate(0,0);
    opacity: 1;
}

.menu-right-body1__row3 {
    display: flex;
    align-items: center;
    margin: 25px 0px;
    transform: translate(-120%,0);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55)0.30s;
    opacity: 0;
}

.menu-right-body1__row3._active{
    transform: translate(0,0);
    opacity: 1;
}

.menu-right-body1__row4 {
    display: flex;
    align-items: center;
    margin: 25px 0px 0px 0px;
    transform: translate(-120%,0);
    transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55)0.45s;
    opacity: 0;
}

.menu-right-body1__row4._active{
    transform: translate(0,0);
    opacity: 1;
}
.menu-right-body1__text2 span{
    height: 1px;
    width: 255px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right-body1__text3 span{
    height: 1px;
    width: 260px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right-body1__text4 span{
    height: 1px;
    width: 297px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right-body2__text1 span{
    height: 1px;
    width: 250px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.menu-right-body2__text2 span{
    height: 1px;
    width: 305px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.menu-right-body2__text3 span{
    height: 1px;
    width: 265px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}

.menu-right-body2__text4 span{
    height: 1px;
    width: 225px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right__body2 {
    margin: 74px 0px 0px 0px;
}

.menu-right__body3 {
    margin: 74px 0px 0px 0px;
}
.menu-right-body3__text1 span{
    height: 1px;
    width: 280px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0px 10px 0px 10px;
}
.menu-right-body3__text2 span{
    height: 1px;
    width: 320px;
    background-color: #AAAAAA;
    display: inline-block;
    margin: 0 10px 0 10px;
}
.clients {
    background-color: #292E36;
}

.clients__row {
    display: flex;
    flex-direction: column;
    padding: 145px 0;
}


.clients-top {
    margin: 0px 0px 40px 0px;
}

.clients-top__body {
}

.clients-top__1text {
    color: #fff;
}

.clients-top__title {
    color: #fff;
    line-height: 56px;
}

.clients-top__text {
    color: #fff;
    line-height: 30px;
}

.clients-bottom {
    display: flex;
    margin: 40px 0px 0px 0px;
}

.clients-bottom-row {
    background-color: #343942;
    padding: 0px 40px;
    margin: 0px 15px 0px 15px;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.clients-bottom-row:hover{
    transform: scale(120%);
}
.clients-bottom-row:first-child{
    margin: 0px 15px 0px 0px;
}

.clients-bottom-row1-row1 {
    display: flex;
    align-items: center;
    padding: 0px 0px 30px 0px;
    border-bottom: 1px solid silver;
}
.clients-bottom-row1-row1__body {
    margin: 0px 0px 0px 30px;
}

.clients-bottom-row1-row1__title {
    color: #fff;
}

.clients-bottom-row1-row1__text {
    color: #E1B168;
}
.clients-bottom-row1-row2__text {
    margin: 30px 0px 0px 0px;
    color: #fff;
    -webkit-transition: all 0.6s ease 0.3s;-moz-transition: all 0.6s ease 0.3s;-ms-transition: all 0.6s ease 0.3s;-o-transition: all 0.6s ease 0.3s;transition: all 0.6s ease 0.3s;
}
.clients-bottom-row1-row2__text:hover{
    color: rgba(255, 127, 80, 0.76);
}

.main__lampe-img{
   width: 100%;
    /*max-height: 100%;*/
}
.main__lampe-img img{
    width: 100%;
    /*height: 100%;*/
}
.offers {
    margin: 127px 0px 0px 0px;
}

.offers__row {
    display: flex;
    flex-direction: column;
}

.offers__body {
    margin-bottom: 40px;
    text-align: center;
}
.offers-image__row {
    display: flex;
}

.offers-image-left {
    margin: 0px 15px 0px 0px;
    background: url("../img/offers/background/left.png") no-repeat;
    /*background-size: 100%;*/
    /*width: 665px;*/
    /*height: 409px;*/
}

.offers-image-left__row {
    display: flex;
    align-items: center;
}

.offers-image-left__body {
    margin: 72px 0px;
    padding: 0px 40px;
}

.offers-image-left__body-img {
    background: url("../img/offers/white.png") no-repeat;
    height: 95px;
    -webkit-transition: all 0.5s ease 0s;-moz-transition: all 0.5s ease 0s;-ms-transition: all 0.5s ease 0s;-o-transition: all 0.5s ease 0s;transition: all 0.5s ease 0s;
    
}
.offers-image-left__body-img:hover{
    transform: scale(120%);
    cursor: pointer;
}
.offers-image-left__body-img:before{
    content: "$10";
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 60px;
}
.offers-image-left__body-img:after{
    content: "only";
    position: relative;
    bottom: 25px;
    right: 25px;
    font-size: 18px;
}
.offers-image-left__img img{
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
    
}
.offers-image-left__img img:hover{
    transform: scale(120%);
}
.offers-image-left__1text {
    border-top: 1px solid #292E36;
    border-bottom: 1px solid #292E36;
    letter-spacing: 2px;
    height: auto;
    width: auto;
}
.offers-image-right {
    margin: 0px 0px 0px 15px;
    background: url("../img/offers/background/right.png") no-repeat;
    /*background-size: 100%;*/
    /*width: 665px;*/
    /*height: 409px;*/
}
.offers-image-right__body-img{
    background: url("../img/offers/dark.png") no-repeat;
    height: 95px;
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.offers-image-right__body-img:hover{
    transform: scale(120%);
    cursor: pointer;
}
.offers-image-right__body-img:before{
    content: "$10";
    position: relative;
    top: 30px;
    left: 40px;
    font-size: 60px;
    color: white;
}
.offers-image-right__body-img:after{
    content: "only";
    position: relative;
    bottom: 25px;
    right: 25px;
    font-size: 18px;
    color: white;
}

.popular-dishes {
    margin: 120px 0px ;
}

.popular-dishes__row {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popular-dishes__body {
    text-align: center;
    margin: 0px 0px 50px 0px;
}

.popular-dishes__1text {
}

.text1 {
}

.popular-dishes__title {
}

.title {
}

.popular-dishes__text {
}

.text {
}

.popular-dishes-images {
    
}

.popular-dishes-images__row {
    display: flex;
}

.popular-dishes-images__image {
    margin: 0px 7px ;
    flex: 0 0 318px;
}

.popular-dishes-images__image-body {
}

.popular-dishes-images__image__title {
    display: flex;
    border-bottom: 1px solid #DCDCDC;
    padding: 9px 0px 11px 0px;
}

.popular-dishes-images__image__subtitle {
    flex: 1 1 auto;
    
}

.popular-dishes-images__image-text {
}

.popular-dishes__btn {
    margin: 85px 0px 0px 0px;
    padding: 20px 57px 20px 57px;
}
.popular-dishes-images__image img{
    -webkit-transition: all 0.3s ease 0s;-moz-transition: all 0.3s ease 0s;-ms-transition: all 0.3s ease 0s;-o-transition: all 0.3s ease 0s;transition: all 0.3s ease 0s;
}
.popular-dishes-images__image img:hover{
    transform: scale(120%);
}

.great-services {
    background-color: #292E36;
    padding: 140px 0px;

}

.great-services__row {
    display: flex;
    
}

.great-services__body {
}

.great-services__1text {
    color: #fff;
}

.great-services__title {
    margin: 11px 0px;
    color: white;
}

.great-services__text {
    color: white;
}

.great-services-img {
}

.great-services-img__row {
    display: flex;
    
}

.great-services-img__columns {
    height: 235px;
    width: 254px;
    text-align: center;
    margin: 0px 15px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 20px solid #323841;
}

.great-services-img__img {
    margin-bottom: 15px;
}

.great-services-img__text {
    color: white;
}
.blog {
    padding: 145px 0px;
}

.blog__row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.blog__body {
    text-align: center;
    margin-bottom: 40px;
}

.blog__1text {
}

.blog__title {
}

.blog__text {
}

.blog-img {
}

.blog-img__row {
    display: flex;
}

.blog-img-left {
    margin: 0px 25px 0px 0px;
}

.blog-img-left__row {
}
.blog-img-left__img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog-img-left__img img{
    width: 100%;
    
}
.blog-img-left__img:before{
    content: "Viev More";
    background-color: #E1B168;
    color: #292E36;
    padding: 20px 57px;
    position: absolute;
    /*top:45%;*/
    /*left: 37%;*/
   
}

.blog-img-left__body {
    padding: 40px 50px ;
    border: 1px solid #C4C4C4;
    
}

.blog-img-left__1text {
    margin: 0px 15px ;
    
}

.blog-img-left__title {
    margin: 26px 0px ;
    
}

.blog-img-left__text {
}

.blog-img-right{
    margin: 0px 0px 0px 25px;
}
.reservation{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(320px + (977 - 320) * ((100vw - 320px)/(1440 - 320)));
}
.reservation img{
    width: 100%;
    height: 100%;
}

.reservation__row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    position: absolute;
    z-index: 2;
    width: 65%;
    height: 60%;
    background-color: #292E36;
    opacity: 95%;
}

.reservation__body {
    color: white;
}

.reservation__1text {
    margin-bottom: calc(5px + (11 - 5) * ((100vw - 715px)/(1440 - 715)));
    font-size: calc(10px + (15 - 10) * ((100vw - 320px)/(1440 - 320)));
}

.reservation__title {
    color: white;
    margin-bottom: calc(7px + (38 - 7) * ((100vw - 715px)/(1440 - 715)));
    font-size: calc(20px + (40 - 20) * ((100vw - 320px)/(1440 - 320)));
}

.reservation-form input{
    background-color: #292E36;
    opacity: 95%;
    border: 1px solid #858585;
    padding: 18px 10px ;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    
    
}
.reservation-form input::placeholder{
    color: white;
    font-family: 'Josefin Sans', sans-serif;
}

.reservation-form__row1 {
    display: flex;
    justify-content: space-between;
}

.reservation-form__name input{
    width: 307px;
   margin: 0px 10px 0px 0px;
}

.reservation-form__email input {
    width: 307px;
    margin: 0px 0px 0px 10px;
}

.reservation-form__row2 {
    display: flex;
    margin-top: calc(16px + (30 - 16) * ((100vw - 572px)/(1440 - 572)));
    justify-content: space-between;
}
.reservation-form__row2 input{
    
}
.forms{
    margin: 0 23px 0 0;
    
}
.forms:last-child{
    margin: 0px 0px 0px 0px;
}
.reservation-form__btn input{
    margin-top: calc(15px + (30 - 15) * ((100vw - 715px)/(1440 - 715)));
    padding: calc(15px + (24 - 15) * ((100vw - 572px)/(1440 - 572))) calc(15px + (54 - 15) * ((100vw - 572px)/(1440 - 572)));
    background-color: #fff;
    color: #000;
    font-family: 'Josefin Sans', sans-serif;
}
.forms input{
    width: calc(110px + (198 - 110) * ((100vw - 572px)/(1440 - 572)));
}
.row1 input{

    width: calc(176px + (307 - 176) * ((100vw - 572px)/(1440 - 572)));
}



.subscribe{
    background-color: #292E36;
    padding: 130px 0 0 0;
}
.subscribe__row{
    display: flex;
  
    flex-direction: column;
}
.subscribe-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.subscribe-top__netzwerk{
    display: flex;
    flex-direction: column;
}
.subscribe-top__logo{
    
}
.subscribe-top__tag{
    color: white;
}
.subscribe-top__img{
    flex: 0 0 108px;
}
.subscribe-top__text p{
    color: white;
}
.subscribe-top__text{
    text-align: center;
}
.subscribe-top__1text{
    color: white;
}
.subscribe-top__netzwerk-img{
    display: flex;
}
.subscribe-bottom {
    padding-bottom: 23px;
}

.subscribe-bottom__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.subscribe-bottom-left {
}

.subscribe-bottom-left__body {
}

.subscribe-bottom-left__1text {
    margin-bottom: 30px;
    color: white;
}

.subscribe-bottom-left__text {
    
}
.subscribe-bottom__link{
    padding: 5px 0px;
}
.subscribe-bottom__link a{
    color: white;
}
.subscribe-bottom__form {
    display: flex;
    align-items: center;
}

.subscribe-bottom__email input{
    background-color: #292E36;
    opacity: 95%;
    border: 1px solid #858585;
    padding: 18px 10px ;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    width: 456px;
    height: 68px;
   
}
.subscribe-bottom__email input::placeholder {

    color: white;
    font-family: 'Josefin Sans', sans-serif;
}


.subscribe-bottom__btn input{
    padding: 21px 40px;
    background-color: #fff;
    color: #000;
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
}

.subscribe-bottom-right {
}

.subscribe-bottom-right__body {
}

.subscribe-bottom-right__text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.subscribe-bottom-right__text a{
    margin: 0px 10px 0px 0;
}

.footer {
    background-color: #292E36;
    border-top: 1px solid #575B62;
    padding: 25px 0;
}

.footer__row {
    
}

.footer__body {
    display: flex;
}

.footer__body-left {
    display: flex;
    flex: 1 1 auto;
}

.footer__text {
}

.footer__link {
    display: flex;
}

.footer__item {
    margin: 0px 10px 0px 0px;
}
.footer__item a{
    color: white;
}
.footer__item1 a{
    color: #E1B168;
    margin: 0px 10px 0px 0px;
}
.footer__body-right {
    display: flex;
    justify-content: center;
    align-items: center;
}
.yellow a{
    color: #E1B168;
}